version: "3.8"

services:
    nginx:
        image: nginx:alpine
        ports:
            - "8080:80" # Сайт будет доступен по http://localhost:8080
        volumes:
            - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
            - ./:/var/www/html # Папка с index.php
        depends_on:
            - php

    php:
        build: .
        volumes:
            - ./:/var/www/html
        depends_on:
            - mysql

    mysql:
        image: mysql:8.0
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
        ports:
            - "3306:3306"
        volumes:
            - mysql_data:/var/lib/mysql
            - ./db:/docker-entrypoint-initdb.d # Сюда здесь dump.sql

volumes:
    mysql_data:
